.btn,
input,
input:checked {
  box-shadow: 5px 5px 5px;
}

body > div {
  width: 400px;
}

/* .my-shadow {
  box-shadow: 0px 0px 8px;
} */

.modal {
  width: 400px;
  display: none;
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  margin: auto;

  /* overflow: auto; */
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.fade-in-animation {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heart-beat-animation {
  animation-name: heartBeat;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes heartBeat {
  0%,
  100% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(0.8);
  }
}

.button-press-animation {
  animation: buttonPress 0.2s ease-in-out;
  animation-delay: 0s;
}

@keyframes buttonPress {
  from {
    transform: scale(50%);
  }
  to {
    transform: scale(100%);
  }
}
